body {
    position: relative;
}

.lp_sitenotice {
    font-size: $fs;
    left: 0;
    margin: 0;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 100%;
    z-index: $zindex--topmost-1;

    .lp_sitenotice__message {
        font-style: normal;
        font-weight: normal;
    }

    .lp_sitenotice__button {
        margin-left: $fs;
    }
}
